<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="/static/style.css"> </head>
<body>
    <h1>Page No Found</h1>
    
    <div class="upload-section">
        <h2>No Found</h2>
        <p>The page your searching for don't exist</p>
    </div>

    
</body>
</html>